@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Josefin Slab', serif;
	scroll-behavior: smooth;
}
.title {
	font-family: 'Dancing Script', cursive;
}

:root {
	--secondary: #4c1d95;
	--primary: #b495fd;
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 15px;
}

*::-webkit-scrollbar-track {
	background: var(--primary);
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
	border-radius: 14px;
	border: 3px solid var(--primary);
}

:root {
	--no-of-slides: 4;
	--slides-in-view: 5;
	--slide-width: 500px;
	--slide-height: 500px;
	--iteration-time: 22s;
}

.carousel__wrapper {
	display: flex;
	/*justify-content: center;*/
	align-items: center;

	width: calc(var(--slides-in-view) * var(--slide-width));
	overflow: hidden;
}

.carousel {
	overflow: hidden;
	width: calc(2 * var(--no-of-slides));
}
.carousel > img {
	border: 2px solid black;
}

.carousel__slide {
	display: flex;
	flex-direction: column;

	flex: 0 0 auto;
	width: var(--slide-width);
	height: var(--slide-height);
	box-sizing: border-box;
	/*border: 1px dotted darkblue;*/
}
